/*work sans font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,800&display=swap');

/*shared styles*/

*{
    font-family: 'Work Sans', sans-serif; 
}

.pink-text{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grey-text{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem; /* 166.667% */
}

.purple-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

/*nav styles*/

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.88rem;
}

.nav-title{
    color: #0B0223;
    font-size: 2.8125rem;
    font-weight: 700;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-left: 15rem;
}

.logo img{
    width: 5.37756rem;
    height: 2.5rem;
    flex-shrink: 0;
}

nav>ul{
    display:flex;
    align-items: center;
    gap:1rem;
}

nav li{
    list-style: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    margin:0;
}

.follow-us{
    display:flex;
    align-items: center;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    gap:1rem;
    padding-right: .5rem;
    margin-right: 15rem;
}

.follow-us img{
    width:2.11975rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.follow-us p{
    margin-left: 1rem;
}


/*banner styles*/
.banner{ 
    display:flex; 
}

.banner-content{
    /* border:2px solid yellow; */
    background-image: url(../images/Group14.png);
} 

.banner-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    /* border: 2px solid blueviolet; */
    margin-bottom: 0;
    margin-left:15.25rem;
    margin-right:19.31rem;
    margin-top: 9.25rem;
}

.banner-description{
    text-align: center;
    font-size: 5.9375rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border: 2px solid pink; */
    margin-left:15rem;
    margin-right:19.12rem;
    margin-top:0;
    margin-bottom: 1.5rem;

}

.banner-feature{
    color: #534C64;
    /* text-align: center; */
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-left:15rem;
    margin-bottom: 1.06rem;
    margin-top: 0;
    /* border:2px solid yellow; */
}

.btn-sign-in{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border:none;
    padding: 1.3125rem 2.5rem;
    border-radius:  3rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-top: 2.56rem; 
    margin-left: 15rem; 
    margin-right:1.5rem;
    margin-bottom: 9.25rem;
}

.btn-go-rogue{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border:none;
    padding: 1.3125rem 2.5rem;
    margin-top:2.56rem;
    border-radius: 3rem;
    background: #4EC5F7;
    margin-bottom: 9.25rem;

}

.banner-images{
    margin-top:1.19rem;
    margin-right:14.47rem;
    margin-bottom:0;
    padding:0px;
    margin-left:4.25rem;
    width: 45rem;
    height: auto;
    /* border:2px solid red; */
    
    
}

/*Online games styles*/
.online-games{
    margin:0;
    margin-left:15px;
    margin-right:15px;
}

.online-games-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.online-games-para{
    margin:0;
    text-align: center;
    margin-bottom:3rem;
}

.card{
    margin:0;
    padding:0;
}

.card p{
    margin:0;
    width:21rem;
}

.card img{
    margin-bottom:1.5rem;
}

.card-container{
    display: flex;
    justify-content: space-around;
    margin-bottom:5rem;
}

.card-container img{
    width: 21.375rem;
    height: 25rem;
}

/*play instantly styles*/

.play-instantly-title{
    margin:0;
    padding:0;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem; /* 125% */
   
}

.play-instantly-para{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem; /* 166.667% */
    width: 22.0625rem;
}

.play-instantly-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:8rem;
    margin-right:15rem;
}

.play-instantly-images{
    padding:0;
    margin:0;
}
.play-instantly-images .bigger-image{
    width: 39.67706rem;
    height: 40.625rem;
}

.play-instantly-images .smaller-image{
    width: 19.90625rem;
    height: 22.81769rem;
    border-radius: 0.5rem;
    position:relative; 
    right:10rem;
    bottom:18rem;
}

.play-instantly{
    display:flex;
    justify-content: space-between;
}


/*footer styles*/
footer{
    background: #0B0223;
    margin-top:20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
    padding-top: 5rem;
    padding-bottom: 8rem;
}

footer .logo{
    margin:0;
}

footer li{
    list-style: none;
}

footer h3{
    color: #FFF;
    font-size: 2.8125rem;
    font-weight: 700;
}

footer p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}


.footer-tabs{
    display:flex;
    gap: 4rem;
    /* justify-content: space-evenly; */
}

.footer-tabs li{
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
}

.footer-logos{
    display:flex;
    gap:4rem;
    /* justify-content: space-evenly; */
}

.footer-terms{
    display:flex;
    gap:4rem;
    /* justify-content: space-evenly; */
}

.footer-terms li{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.footer-logos img{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer; 
}



/*for debug purpose*/
.hide{
    display:none;
}


/*responsive styles*/
/*mobile devices*/
@media screen and (max-width:576px){
    nav{
        flex-direction: column;
    }

    nav>ul{
        margin:0;
        flex-direction: column;
        align-items: center;
        gap:2rem;
    }
    
    .logo{
        margin:0;
    }
    
    .follow-us{
        margin:0;
    }

    .banner{ 
        flex-direction: column; 
    }

    .banner-title{
        margin:0;
        margin-top:8.19rem;
        font-size: 2rem;
    }

    .banner-description{
        margin:0;
        margin-bottom:1.15rem;
        font-size: 4rem;
    }

    .banner-content p{
        font-size: 1rem;
        margin:0;
        margin-left:6rem;
    }
    
    .btn-sign-in{
        margin:0;
        margin-left: 4rem;
        font-size: 1rem;            
    }

    .btn-go-rogue{
        font-size: 1rem;
    }

    .banner-images{
        margin:0;
        padding: 0;
        width: 100%;
    }

    .banner-content{
        background-size: auto;
    }

    .card-container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 1rem;
    }

    .play-instantly{
        flex-direction: column;
        padding: 0;
        margin:0;
    }

    .play-instantly-images .bigger-image{
        padding:0;
        margin:0;
        width:80%;
        height:auto;
        margin-left:3rem;
    }

    .play-instantly-images .smaller-image{
        padding:0;
        margin:0;
        width:11rem;
        height:15rem;
        position:relative;
        right:0.2rem;
        bottom:10rem;
    }

    .play-instantly-content{
        font-size:3rem;
        margin:0;
        padding:0;
    }

    .play-instantly-title{
        padding:0;
        margin:0;
    }

    .play-instantly-para{
        text-align: center;
        margin-left:2rem;
    }

    .footer-logos{
        margin:0;
        padding:0;
        justify-content: space-around;
        flex-wrap: wrap;

    }
    
    .footer-terms{
        margin:0;
        padding:0;
        justify-content: space-around;
        flex-wrap: wrap;
        /* justify-content: space-evenly; */
    }

    .footer-tabs{
        margin:0;
        padding:0;
        justify-content: space-around;
        flex-wrap: wrap;
    }


    
}

/*for medium devices ie.tablets: 576px~960px*/
@media screen and (min-width: 576px) and (max-width:960px){
    nav{
        flex-direction: column;
    }

    nav>ul{
        margin:0;
        flex-direction: column;
        align-items: center;
        gap:2rem;
    }

    .logo{
        margin:0;
    }
    
    .follow-us{
        margin:0;
    }

    .banner{ 
        flex-direction: column-reverse; 
    }

    .banner-title{
        margin:0;
        margin-top:8.19rem;
    }

    .banner-description{
        margin:0;
        margin-bottom:1.15rem;
    }

    .banner-content{
        background-size: auto;
    }

    .btn-sign-in{
        margin-left:13rem;
    }

    .banner-images{
        margin:0;
        padding: 0;
    }

    .card-container{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .play-instantly{
        flex-direction: column;
        padding: 0;
        margin:0;
    }

    .play-instantly-images .bigger-image{
        padding:0;
        margin:0;
        width:80%;
        height:auto;
        margin-left:5rem;
    }

    .play-instantly-images .smaller-image{
        padding:0;
        margin:0;
        width:11rem;
        height:15rem;
        position:relative;
        right:0.2rem;
        bottom:10rem;
    }

    .play-instantly-content{
        font-size:3rem;
        margin:0;
        padding:0;
    }

    .play-instantly-title{
        padding:0;
        margin:0;
    }

    .play-instantly-para{
        text-align: center;
        margin-left:12rem;
    }
    

}